<div id="vimeo-single">
	<div class="vimeo-single-player">
		<div class="b-news-head">
			<h1>{video.title}</h1>
			<p class="b-news-head-date">
				at <f:format.date format="l d, Y">{video.dateTaken}</f:format.date>
			</p>
			<p><br /></p>
		</div>
		<div class="vimeo-player"><f:render partial="VimeoPlayer" arguments="{video: video}" /></div>
		<div class="vimeo-description"><p class="bodytext">{video.description}</p></div>
	</div>
</div>

<f:render partial="RelatedListing" arguments="{videos: video.related}" />