<div class="b-tabs" style="width: 220px;">
    <ul class="tabs orange-tabs">
		<f:for each="{videos}" as="video" iteration="iteration">
			<li <f:if condition="{iteration.isFirst}">class="act"</f:if> style="width: 77px;">
				<f:link.action controller="Video" action="show" arguments="{video: video}">{video.type.title}</f:link.action>
			</li>
		</f:for>
	</ul>

	<div class="tab-panes">
		<f:for each="{videos}" as="video" iteration="iteration">
			<div class="csc-default show-tab">
				<div class="tab-content without-box">
					<div id="vimeo-teaser">
						<ul class="vimeo-teaser-box">
							<li class="vimeo-teaser-item">
								<div>
									<div class="vimeo-teaser-thumb">
										<f:link.action controller="Video" action="show" arguments="{video: video}">
											<div class="vimeo-teaser-playbutton">
												<f:image src="{settings.storageFolder}/{video.thumbnail}" width="219c" height="157c" alt="{video.title} thumbnail" />
											</div>
										</f:link.action>
									</div>
									<div class="vimeo-teaser-subthumb">
										<div class="vimeo-teaser-title">
											<span><strong>{video.title}</strong><span>
										</div>
										<div class="vimeo-teaser-navigation"></div>
									</div>
									<div class="vimeo-teaser-more">
										<span class="bu bu-mini">
											<f:link.action controller="Category" action="index">Show all videos</f:link.action>
										</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="csc-textpic-clear"></div>
				</div>
			</div>
		</f:for>
	</div>
</div>