<div id="c1085" class="csc-default">
	<div class="b-tabs" style="width: 219px; ">
		<ul class="tabs orange-tabs">
			<li class="act" style="width: 75px; "><a href="community.html#c1086" style="width: 74px; ">All Videos</a></li>
			<li class="" style="width: 69px; "><a href="community.html#c1088" style="width: 68px; ">Tutorials</a></li>
			<li class="" style="width: 72px; "><a href="community.html#c1090" style="width: 71px; ">Podcasts</a></li>
		</ul>
		<div class="tab-panes">
			<div id="c1086" class="csc-default show-tab">
				<div class="tab-content without-box">
					<div id="c1526" class="csc-default">
						<div class="csc-textpic csc-textpic-center csc-textpic-above">
							<div class="csc-textpic-imagewrap" style="width:219px;">
								<dl class="csc-textpic-image csc-textpic-lastcol" style="width:219px;">
									<dt>
										<a href="http://castor.t3o.punkt.de/files/teasertricks_720p.mp4" target="_blank" rel="shadowbox[sb1526]">
											<img src="fileadmin/t3org/images/video/4.3-Feature--Scheduler.png" width="219" height="140" alt="">
										</a>
									</dt>
								</dl>
							</div>
						</div>
						<div class="csc-textpic-clear"></div>
					</div>
				</div>
			</div>
			<div id="c1088" class="csc-default hide-tab">
				<div class="tab-content">
					<div id="c1089" class="csc-default">
						<h1>[INSERT TUTORIALS]</h1>
					</div>
				</div>
			</div>
			<div id="c1090" class="csc-default hide-tab">
				<div class="tab-content">
					<div id="c1091" class="csc-default">
						<h1>[INSERT PODCASTS]</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>